<!DOCTYPE html>
<html lang="en">
<head>
  <title>plusOne</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body >
      <script>
          var a = 123;
          window.fbAsyncInit = function() {
            FB.init({
              appId      : '644715349193744',
              cookie     : true,
              xfbml      : true,
              version    : 'v2.12'
            });
              
            FB.AppEvents.logPageView();  
            var access;            



            FB.login(function(response) {
                if (response.authResponse) {
                 console.log('Welcome!  Fetching your information.... ');
                 FB.api('/me', function(response) {
                   console.log('Good to see you, ' + response.name + '.');
                   //alert(response.id);
                   a=response.id;
                   document.getElementById("a-daaldo").innerText = a;
                   document.getElementById("tb").value = a;
                 });
                } else {
                 console.log('User cancelled login or did not fully authorize.');
                }
            });
          };
           
  </script>

  <div id="fb-root"></div>

  <script>
          (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=644715349193744&autoLogAppEvents=1';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

  </script>


<div class="container">
  <h3>Please click to view people matched</h3>
  <form class="form-inline" action="abcd/" method="get">
    <span id="a-daaldo" ></span><br>
    <input type="hidden" name="ueid2" value="" id="tb" />
  </form>
</div>
<center><button type="submit" class="btn btn-default" value="Click">Click</button></center>
</body>
</html>